/node_modules
/.idea
/.web-server-pid
/app/config/parameters.yml
/app/Resources/assets/icons
/app/Resources/assets/images
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/js
/web/css
/web/images
/web/icons
yarn-error.log
