<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script defer src="{{ asset('js/vendor.js') }}"></script>
        <script defer src="{{ asset('js/app.js') }}"></script>
        <script defer src="{{ asset('js/plugins.js') }}"></script>
    </body>
</html>
