{% extends "base.html.twig" %}

{% block title %}
    CoOperationUserBundle:Authentification:login
{% endblock %}

{% block body %}
    <h1>Connexion à l'application</h1>
    <div name="authentication" id"authentication" class="">
    <label>Login</label>
    <input type="text" name="_username" id="username" placeholder="Login"></input>
  </br>
    <label>Mot de Passe</label>
    <input type="text" name="_password" id="password" placeholder="Mot de Passe"></input>
  </div>
{% endblock %}
