{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cooperation.app_name'|trans }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h2>{{ 'cooperation.ui.welcome_message'|trans }}</h2>
                <h4>{{ 'cooperation.ui.welcome_submessage'|trans }}</h4>
            </div>
        </div>
    </div>

    <style>
    body {background-image:url('{{ asset('images/home-account.jpg') }}');}
    </style>
{% endblock %}

{% block stylesheets %}
{% endblock %}
