{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cooperation.lists.new'|trans }}
{% endblock %}

{% block body %}
    {{ 'cooperation.lists.new'|trans }}
    <div>
      {{ form(form) }}
    </div>
{% endblock %}
