{% extends 'base.html.twig' %}

{% block title %}
    {{ 'cooperation.lists.view'|trans }}
{% endblock %}

{% block body %}
    {{ 'cooperation.lists.view'|trans }}
    <div>
      {{ list.id }}
    </div>
{% endblock %}
